/*公用定义*/
@charset "utf-8";
*:focus{outline:none;}
input{ line-height:normal;}
body a,.tm{
-webkit-transition: all .2s linear;
transition: all .2s linear;
cursor:pointer;
}
input,select,textarea,div{FONT-FAMILY:'Microsoft YaHei';}
body {margin:0px;font-size: 12px;background: #ffffff;	color: #2b2b2b;}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #296c96;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.bai a:hover{ color:#bde5fd;}
.hong,.hong a{ color:#ff0000;}
.huang,.huang a{ color:#faaf19;}
.lan,.lan a{ color:#296c96;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.hui a:hover{color:#fff;}
.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.cu{ font-weight:bold;}
.xi{ font-weight:lighter;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:1200px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;text-transform:uppercase;}
.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
.xiahuaxian{ text-decoration:underline;}
.shanchuxian{ text-decoration:line-through;}
/*页面*/
.index{ height:775px; background:url(../images/index_03.jpg); position:relative;}
.index_login{ position:absolute; right:0; top:30px; line-height:38px;text-transform:uppercase;}
.txtr{ text-align:right;text-transform:uppercase;}
.index_title{ position:absolute; left:495px; top:46px; line-height:36px;}
.index_menu1{ position:absolute; left:502px; top:174px; line-height:34px;}
.index_menu2{ position:absolute; left:420px; top:258px; line-height:34px;}
.index_menu3{ position:absolute; left:274px; top:344px; line-height:34px;}
.index_menu4{ position:absolute; left:186px; top:444px; line-height:34px;}
.login{ width:600px; background:#266085;}
.logins{ line-height:38px;text-transform:uppercase; margin:40px auto;}
.bd1{ width:400px; height:60px; border:none; padding:0; margin:0 auto 35px auto; text-indent:1em;}
.an1{ width:400px; height:60px; background:#00a3a5; border:none; padding:0; margin:0 auto 60px auto;}
.login_back{ position:absolute; left:100px; top:0;}
.contacts{ line-height:40px; margin:30px auto;}
.contactc{ line-height:34px; padding-bottom:40px;}
.contactx li{ line-height:60px; text-indent:40px; background:url(../images/contact_03.png) 10px center no-repeat;}
.contactc p{ text-indent:2em;}
.works{ margin-bottom:40px; position:relative;}
.worksc{ width:371px;}
.worksl{ position:absolute; left:0; top:0;}
.worksr{ position:absolute; right:0; top:0;}






















































































